<div class="two-across">

  <section class="card">
    <div class="card-content">
      <span class="card-title">Prikklok</span>
      <p>Hallo {{ name }}</p>
      <p><b>{{message}}</b></p>
      <p>Docenten moeten de shift ingedrukt houden terwijl ze inklokken.</p>
    </div>
    <div class="card-action">
      <button class="btn" (click)="clockIn($event)">Klok in</button> &nbsp;
      <button class="btn" (click)="clockOut($event)">Klok uit</button>
    </div>
  </section>

  <section class="card">
    <div class="card-content">
      <span class="card-title">Komende week</span>
      <div class="time-block">
        <div (mouseenter)="rooster(0)" (mouseleave)="roosterReset()" class="day-0" style="height: 80px">M</div>
        <div (mouseenter)="rooster(1)" (mouseleave)="roosterReset()" class="day-1" style="height: 75px">D</div>
        <div (mouseenter)="rooster(2)" (mouseleave)="roosterReset()" class="day-2" style="height: 60px">W</div>
        <div (mouseenter)="rooster(3)" (mouseleave)="roosterReset()" class="day-3" style="height: 65px">D</div>
        <div (mouseenter)="rooster(4)" (mouseleave)="roosterReset()" class="day-4" style="height: 80px">V</div>
      </div>
      <div>
        {{currentSchedule}}
      </div>
    </div>
  </section>

</div>
